<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmetic Shop</title>
    <link rel="stylesheet" th:href="@{/css/admin-manage.css}">
    <script src="https://kit.fontawesome.com/d15b915a41.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="logo">
            <a th:href="@{/home}">
                <img th:src="@{/images/logo/logo.webp}" alt="logo">
            </a>
        </div>
        <nav>
            <ul>
                <li class="dropdown">
                    <a class="dropbtn" href="#">Quản lý</a>
                    <ul class="dropdown-content">
                        <li><a href="/admin/dashboard">Bảng điều khiển</a></li>
                        <li><a th:href="@{/admin/products}">Quản lý sản phẩm</a></li>
                        <li><a th:href="@{/admin/categories}">Quản lý danh mục</a></li>
                        <li><a th:href="@{/admin/banners}">Quản lý banner</a></li>
                        <li><a href="/admin/users">Quản lý người dùng</a></li>
                        <li><a href="/admin/reports">Báo cáo</a></li>
                    </ul>
                </li>
                <li><a href="#">Thống kê</a></li>
            </ul>
        </nav> <!-- Thanh điều hướng -->
        <div class="logout">
            <i class="fa-solid fa-right-from-bracket"></i>
        </div>
    </header>
    <main>
        <div class="product-container">
            <h3>DANH SÁCH DANH MỤC</h3>
            <a class="btnAdd" th:href="@{/admin/categories/showCreateCategoryForm}"><i class="fa-solid fa-plus"></i>Thêm mới</a>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Tên danh mục</th>
                        <th>Mô tả</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Dữ liệu sản phẩm sẽ được lặp qua ở đây -->
                    <tr th:each="category : ${categories}">
                        <td class="image">
                            <img th:src="${category.imageUrl}" alt="category">
                        </td>
                        <td th:text="${category.name}"></td>
                        <td class="long-text" th:text="${category.description}"></td>
                        <td>
                            <a class="btnUpdate" th:href="@{/admin/categories/showUpdateCategoryForm(categoryId=${category.categoryId})}">Sửa</a> |
                            <a class="btnDelete" th:href="@{/admin/categories/delete(categoryId=${category.categoryId})}" 
                                        onclick="if (!(confirm('Bạn có chắc muốn xoá danh mục này?'))) return false">Xóa</a>
                        </td>
                    </tr>
                    <!-- Thêm các dòng sản phẩm khác -->
                </tbody>
            </table>

            <!-- Phân trang -->
            <div>
                <a href="?page=1">Trang 1</a>
                <a href="?page=2">Trang 2</a>
                <a href="?page=3">Trang 3</a>
                <!-- Các trang tiếp theo -->
            </div>
        </div>
    </main>
</body>

</html>