body {
    background-color: #f5f5f5;
}

main {
    margin: 0 auto;
    width: 80%;
    background-color: white;
}

main nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

main nav li {
    text-align: center;
    list-style-type: none;
}

main nav li a.nav-link {
    font-size: 16px;
    color: #66ccff;
    font-weight: bold;
}

main nav li a.nav-link:hover {
    color: gray;
}

main nav li a.nav-link.active {
    border-bottom: 3px solid #66ccff;
}

main .btnn {
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
}

main .btnn.add {
    background-color: blue;
    border: 1px solid blue;
}

main .btnn.update {
    background-color: gray;
    border: 1px solid gray;
}

main .btnn.delete {
    background-color: red;
    border: 1px solid red;
}

@media only screen and (max-width: 600px) {
    /* List */
    main {
        width: 100%;
    }

    .product__list__header {
        display: none;
    }

    .product__list__body {
        border-top: 1px solid #66ccff;
    }

    .category__list__header {
        display: none;
    }

    .category__list__body {
        border-top: 1px solid #66ccff;
    }

    .banner__list__header {
        display: none;
    }

    .banner__list__body {
        border-top: 1px solid #66ccff;
    }
}