/* * {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f0f0f0;
    max-width: 70%;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 3;
}

.header1 {
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header1 .logo {
    width: 20%;
    height: auto;
}

.header1 .logo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.header1 .category_search {
    display: flex;
    justify-content: flex-start;
    width: 60%;
}

.header1 .category_search button {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    padding: 10px 15px;
    background-color: grey;
}

.header1 .category_search button i {
    margin-right: 5px;
}

.header1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.header1 button:hover,
.dropdown:hover .dropbtn {
    background-color: white;
}

.header1 .dropdown {
    display: inline-block;
}

.header1 .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 4;
}

.header1 .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.header1 .dropdown-content a:hover {
    background-color: gray;
}

.header1 .dropdown:hover .dropdown-content {
    display: block;
}

.header1 .category_search form input {
    width: 400px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    padding: 10px 15px;
}

.header1 .category_search form i {
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 5px;
}

.header1 .category_search form i:hover {
    background-color: white;
    color: black;
}

.header1 .cart_account_logout {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header1 .btn {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}

.header1 .btn:hover {
    background-color: white;
    color: black;
}

.header1 .logout form {
    display: inline;
}

.header1 .logout button {
    background-color: black;
    border: none;
}

.header1 .logout i {
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
}

.header1 .logout i:hover {
    background-color: white;
    color: black;
}

nav {
    background-color: grey;
    color: black;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    background-color: #f0f0f0;
    color: black;
}

.banner {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .slides {
    width: 100%;
    position: relative;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.banner .slide {
    width: 100%;
    height: auto;
    flex: 0 0 100%;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0px;
    left: 0px;
}

.banner .slide img {
    width: 100%;
    height: auto;
}

.banner .slide.active {
    position: relative;
    opacity: 1;
}

.banner .btn {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

.banner .prev {
    left: 0px;
}

.banner .next {
    right: 0px;
}

.category-container {
    background-color: white;
}

.category-container h3 {
    padding: 20px 0px 0px 20px;
}

.category-container .categories {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.category-container .category {
    border: 1px solid gray;
}

.category-container .category img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.category-container .category p {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.product-container {
    background-color: white;
    margin-bottom: 20px;
}

.product-container h3 {
    padding: 20px 0px 0px 20px;
}

.product-container .products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.product-container .product {
    border: 1px solid gray;
}

.product-container .product img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-container .product p {
    margin: auto;
    text-align: center;
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .info {
    padding: 20px;
}

footer .info i {
    margin-right: 5px;
}

footer .support {
    padding: 20px;
}

footer .support ul {
    padding-left: 0px;
}

footer .support ul li {
    padding: 5px;
} */