<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmetic Shop</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="https://kit.fontawesome.com/d15b915a41.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="header1">
            <div class="logo">
                <a href="index.html">
                    <img src="/static/images/logo/logo.webp" alt="logo">
                </a>
            </div> <!--Logo-->
            <div class="category_search">
                    <button><i class="fa-solid fa-bars"></i>Danh mục</button>
                    <form>
                        <input type="text" placeholder="Tìm kiếm sản phẩm ...">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </form>
            </div> <!--Category + Search-->
            <div>
                <a class="btn" href="#">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
                <a class="btn" href="#">
                    <i class="fa-solid fa-user"></i>
                </a>
            </div> <!--Gio hang + tai khoan-->
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Trang chủ</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav> <!--Dieu huong-->
    </header>
    <main>
        <section class="banner">
            <div class="slides">
                <div class="slide">
                    <img src="/static/images/banners/banner1.webp" alt="banner1_img">
                </div>
                <div class="slide">
                    <img src="/static/images/banners/banner2.webp" alt="banner2_img">
                </div>
                <div class="slide">
                    <img src="/static/images/banners/banner3.webp" alt="banner3_img">
                </div>
            </div>
            <i class="fa-solid fa-arrow-left btn prev"></i>
            <i class="fa-solid fa-arrow-right btn next"></i>
        </section> <!--Banner-->
        <section class="category-container">
            <h3>DANH MỤC</h3>
            <div class="categories">
                <div class="category">
                    <img src="/static/images/categorys/category1.webp" alt="category1_img">
                    <p>Category_name_1</p>
                </div>
                <div class="category">
                    <img src="/static/images/categorys/category2.webp" alt="category2_img">
                    <p>Category_name_2</p>
                </div>
                <div class="category">
                    <img src="/static/images/categorys/category3.webp" alt="category3_img">
                    <p>Category_name_3</p>
                </div>
            </div>
        </section> <!--Categorys-->
        <section class="product-container">
            <h3>TẤT CẢ SẢN PHẨM</h3>
            <div class="products">
                <div class="product">
                    <img src="/static/images/products/product1.webp" alt="product1_img">
                    <p>Product_name_1</p>
                    <p>0.0$</p>
                </div>
                <div class="product">
                    <img src="/static/images/products/product2.webp" alt="product2_img">
                    <p>Product_name_2</p>
                    <p>0.0$</p>
                </div>
                <div class="product">
                    <img src="/static/images/products/product3.webp" alt="product3_img">
                    <p>Product_name_3</p>
                    <p>0.0$</p>
                </div>
            </div>
        </section> <!--Products-->
    </main>
    <footer>
        <div class="info">
            <b>Cosmetic Shop</b>
            <p><i class="fa-solid fa-location-dot"></i>Địa chỉ: Km 10- Nguyễn Trãi- Thanh Xuân- Hà Nội</p>
            <p><i class="fa-solid fa-phone"></i>Điện thoại: 0327871942</p>
            <p><i class="fa-solid fa-envelope"></i>Email: vinhpv910@gmail.com</p>
        </div>
        <div class="support">
            <b>Hỗ trợ khách hàng</b>
            <ul>
                <li>Các câu hỏi thường gặp</li>
                <li>Hướng dẫn đặt hàng</li>
                <li>Phương thức thanh toán</li>
                <li>Phương thức vận chuyển</li>
            </ul>
        </div>
    </footer>
    <script src="/static/js/home.js"></script>
</body>

</html>