<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmetic Shop</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <script src="https://kit.fontawesome.com/d15b915a41.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="header1">
            <div class="logo">
                <a th:href="@{/home}">
                    <img th:src="@{/images/logo/logo.webp}" alt="logo">
                </a>
            </div> <!--Logo-->
            <div class="category_search">
                <div class="dropdown">
                    <button class="dropbtn"><i class="fa-solid fa-bars"></i>Danh mục</button>
                    <ul class="dropdown-content">
                        <li th:each="category : ${categories}">
                            <a th:href="@{'/categories/' + ${category.categoryId}}" th:text="${category.name}"></a>
                        </li>
                    </ul>
                </div>
                <form id="searchForm" th:action="@{/products}" method="get">
                    <input type="text" name="name" placeholder="Tìm kiếm sản phẩm ...">
                    <i class="fa-solid fa-magnifying-glass" onclick="submitSearchForm()"></i>
                </form>
            </div> <!--Category + Search-->
            <div class="cart_account_logout">
                <a class="btn" th:href="@{/cart}">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
                <div class="dropdown">
                    <button class="btn">
                        <i class="fa-solid fa-user"></i>
                    </button>
                    <ul class="dropdown-content">
                        <li><a th:href="@{/user/account}">Thông tin cá nhân</a></li>
                        <li><a th:href="@{/user/address}">Địa chỉ nhận hàng</a></li>
                        <li><a th:href="@{/user/orders}">Đơn mua</a></li>
                    </ul>
                </div>
                <div class="logout">
                    <form action="#" th:action="@{/logout}" method="post">
                        <button type="submit">
                            <i class="fa-solid fa-right-from-bracket"></i>
                        </button>
                    </form>
                </div>
            </div> <!--Gio hang + tai khoan-->
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/home}">Trang chủ</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav> <!--Dieu huong-->
    </header>
    <main>
        <section class="banner">
            <div class="slides">
                <div class="slide" th:each="banner : ${banners}">
                    <img th:src="${banner.imageUrl}" alt="banner">
                </div>
            </div>
            <i class="fa-solid fa-arrow-left btn prev"></i>
            <i class="fa-solid fa-arrow-right btn next"></i>
        </section> <!--Banner-->
        <section class="category-container">
            <h3>DANH MỤC</h3>
            <div class="categories">
                <div class="category" th:each="category : ${categories}"
                    th:onclick="|window.location.href='/categories/' + ${category.categoryId}|">
                    <img th:src="${category.imageUrl}" alt="category">
                    <p th:text="${category.name}"></p>
                </div>
            </div>
        </section> <!--Categorys-->
        <section class="product-container">
            <h3>TẤT CẢ SẢN PHẨM</h3>
            <div class="products">
                <div th:each="product : ${products}" class="product" 
                        th:onclick="|window.location.href='/products/' + ${product.productId}|">
                    <img th:src="${product.imageUrl}" alt="product">
                    <p th:text="${product.name}"></p>
                    <p th:text="${product.price} + ' $'"></p>
                </div>
            </div>
        </section> <!--Products-->
    </main>
    <footer>
        <div class="info">
            <b>Cosmetic Shop</b>
            <p><i class="fa-solid fa-location-dot"></i>Địa chỉ: Km 10- Nguyễn Trãi- Thanh Xuân- Hà Nội</p>
            <p><i class="fa-solid fa-phone"></i>Điện thoại: 0327871942</p>
            <p><i class="fa-solid fa-envelope"></i>Email: vinhpv910@gmail.com</p>
        </div>
        <div class="support">
            <b>Hỗ trợ khách hàng</b>
            <ul>
                <li>Các câu hỏi thường gặp</li>
                <li>Hướng dẫn đặt hàng</li>
                <li>Phương thức thanh toán</li>
                <li>Phương thức vận chuyển</li>
            </ul>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script th:src="@{/js/home.js}"></script>
</body>

</html>